*{
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

div{
  margin: 0px;
  padding: 0px;
}

img{
  height: 256px;
  width: 256px;
  box-shadow: none !important;
}

button{
  padding: 5px 9px;
  border: 1px solid black;
  margin: 0px 5px 0px 0px;
}

#app{
  margin: 0px 0px 20px 0px;
}

#input{
  display: inline;
}

canvas{
  border: 1px solid rgb(224, 224, 224);
}

#output{
  border: 1px solid rgb(224, 224, 224);
  height: 256px;
  width: 256px;
}

#colors div{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 20px 10px 0px;
  display: inline-block;
}

#green{
  background: rgb(203, 222, 174);
}

#grey1{
  background: rgb(243, 240, 233);
}
#grey2{
  background: rgb(232, 229, 222);
}

#white{
  background: white;
  border: 1px solid rgb(236, 236, 236);
}

#black{
  background: rgb(0, 0, 0);
}

#red{
  background: rgb(255, 0, 0);
}

#burgundy{
  background: rgb(109, 0, 0);
}

#blue{
  background: rgb(0, 0, 255);
}

#lightBlue{
  background: rgb(45, 107, 154);
}

#darkBlue{
  background: rgb(16, 3, 82);
}

#green2{
  background: rgb(0, 255, 0);
}

#lightgreen{
  background: rgb(162, 255, 0);
}

#orange{
  background: rgb(255, 170, 0);
}

#yellow{
  background: rgb(255, 234, 0);
}

